<router-outlet />
<main>
  <div class="container">
    <h1>Hola mundo</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Correo Electronico</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        @for (user of userList(); track $index) {
        <tr>
          <td><app-user-avatar [name]="user.first_name + ' ' + user.last_name"></app-user-avatar>{{user.first_name + ' '
            + user.last_name}}</td>
          <td>{{ user.email }}</td>
          <td><app-flag [countryIso]="user.country"></app-flag>{{ user.countryItem?.name }}</td>
          <td>{{ user.phone | prefixPhone:user.country }}</td>
          <td><a [href]="user.website" _blank>Website</a></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
