<main>
  <div class="container">
    <section class="d-flex flex-row mt-4">
      <h3 class="w-50">Lista de Usuarios</h3>
      <div class="input-group mb-3 w-50">
        <span class="input-group-text" id="inputGroup-sizing-default">Buscar usuario</span>
        <input type="text" class="form-control" aria-label="Sizing example input" (input)="inputFieldText($event)" aria-describedby="inputGroup-sizing-default">
      </div>
    </section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Correo Electronico</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        @for (user of userList(); track $index) {
        <tr>
          <td [appHighlight]="'red'"><app-user-avatar [name]="user.first_name + ' ' + user.last_name"></app-user-avatar>{{user.first_name + ' '
            + user.last_name}}</td>
          <td [appHighlight]="'red'">{{ user.email }}</td>
          <td [appHighlight]="'red'"><app-flag [countryIso]="user.country"></app-flag>{{ user.countryItem?.name }}</td>
          <td [appHighlight]="'red'">{{ user.phone | prefixPhone:user.country }}</td>
          <td [appHighlight]="'red'"><a [href]="user.website" _blank>Website</a></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
